/* (Time drop down) menu */

fieldset {
border: 0;
}

label {
display: block;
margin: 30px 0 0 0;
}

select {
width: 200px;
}

.overflow {
height: 200px;
}

body {
  counter-reset:section;
  background-color: white;
  color: black;
  max-width: 700px;
  margin: 0 auto;
  font-family: 'Playfair Display';
}

#main_logo {
  height: 20%;
  width: 20%;
}

.form-signin {
  margin-left: 30%;
}

.form-signup {
  margin-left: 30%;
}

.form-create {
  margin-left: 30%;
  border: ;
}

.ui-datepicker { 
  margin-top: 60px;
  margin-left: 225px;
  z-index: 1000;
}

.new-survey {
  margin-left: 30%;
  background-color: white;
  border: 1px solid black;
  padding: 10px 30px 10px 30px;
  color: black;
}

.new-survey:hover {
  background-color: black;
  color: white;
}

.links {
  list-style-type:none;
}

.links li a {
  text-decoration: none;
  color: black;
}

.links li a:hover {
  text-decoration: underline;
  color: gray;
}

.button {

}

.button:hover{
  
}

.create_nudge {

}

table tr {
  border: 1px solid black;
}

/********************************/

.header {
  font-family: 'Satisfy';
}

.header ul {
  text-decoration: none;
  text-align: right;
}

.header ul li {
  display: inline-block;
}

.header li a {
  text-decoration: none;
  color: black;
}

.header li a:hover {
  text-decoration: underline;
  color: gray;
}

header {
  background-color: white;
  padding: 5px 5px;
  text-align: left;
  margin-bottom: 10px;
}

header h1 {
  font-size: 5em;
  display: inline;
}

header p {
  margin-left: 5px ;
  font-size: 10pt;
  display: inline;
}

header p a {
  color: black;
  text-decoration: none;
}

header p a:nth-child(n + 2):before {
  content: " | ";
}

form {
  margin: 15px 30px;
}