<header class="header">
	<img id="main_logo" src="/nudge_logo.jpg">
	<h1>Nudge</h1>
	<ul id ="header">
		<li><a href= "/nudges">Home</a></li> &nbsp
		<li><a href="/user/<%= session[:user_id] %>/nudges">Profile</a></li> &nbsp
		<li><a href ="/logout">Logout</a></li>
	</ul>
</header>