<header class="header">
	<h1>Nudge</h1>
	<ul id ="header">
		<li><a href= "/nudges">Home</a></li>
		<li><a href="/users/<%= session[:user_id] %>/nudges">Profile</a></li>
		<li><a href ="/logout">Logout</a></li>
	</ul>
</header>