<%= header %> 

<div class="nudge_container">
	<form class="form-create" name="input" action="/nudges/create" method="post">
		<h2 class="form-create-heading">Nudge</h2>

		<label for="receiver_name">Receiver's Name:</label>
		<input type="string" name="receiver_name" value=""><br>

		<label for="phone_num">Phone Number:</label>
		<input type="string" name="phone_num" value=""><br>

		<label for="message">Message:</label>
		<input type="text" name="message" value=""><br>

		<label for="date">Date:</label>
		<input id="datepicker" name="date"><br>

		<fieldset>
		<label for="time">Time:</label>
		<!-- <input type="time" name="time" value=""><br> -->
		<select name="hours" id="hour">
		<option selected="selected">00</option>
		<option>01</option>
		<option>02</option>
		<option>03</option>
		<option>04</option>
		<option>05</option>
		<option>06</option>
		<option>07</option>
		<option>08</option>
		<option>09</option>
		<option>10</option>
		<option>11</option>
		<option>12</option>
		<option>13</option>
		<option>14</option>
		<option>15</option>
		<option>16</option>
		<option>17</option>
		<option>18</option>
		<option>19</option>
		<option>20</option>
		<option>21</option>
		<option>22</option>
		<option>23</option>
		</select>

		<select name="minutes" id="minute">
		<option selected="selected">00</option>
		<option>05</option>
		<option>10</option>
		<option>15</option>
		<option>20</option>
		<option>25</option>
		<option>30</option>
		<option>35</option>
		<option>40</option>
		<option>45</option>
		<option>50</option>
		<option>55</option>
		</select>
		</fieldset>

		<button class="create_nudge" type="submit">Submit</button>
	</form>
</div>