<div class="container">
	<form class="form-signup" name="input" action="/nudges/create" method="post">
		<h2 class="form-signup-heading">Nudge</h2>

		<label for="receiver_name">Receiver's Name:</label>
		<input type="string" name="receiver_name" value=""><br>

		<label for="phone_num">Phone Number:</label>
		<input type="string" name="phone_num" value=""><br>

		<label for="message">Message:</label>
		<input type="text" name="message" value=""><br>

		<label for="date">Date:</label>
		<input type="date" name="date" value=""><br>

		<label for="time">Time:</label>
		<input type="time" name="time" value=""><br>

		<button class="btn btn-large btn-primary" type="submit">Submit</button>
	</form>
</div>